@import url('https://fonts.googleapis.com/css2? family= JetBrains+Mono:ital,wght@1,500 & display=swap');

body {
	width: 100%;
	height: auto;
	font-family: 'JetBrains Mono', monospace;
}

pre {
	color: white;
}


.img {
	width: 50%;
	height: 450px;
	margin-bottom: 10%;
	margin-left: 25%;
	border: 5px solid white;

}

img {
	width: 97%;
	margin-left: 10px;
	height: 95%;
	margin-top: 10px;
}
