@import url('https://fonts.googleapis.com/css2? family= JetBrains+Mono:ital,wght@1,500 & display=swap');

body {
	width: 100%;
	height: auto;
	font-family: 'JetBrains Mono', monospace;
}

pre {
	color: white;
}
