body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-style: italic;
    font-size: 50px;
}

h2 {
    color: blue;
}

label, input {
    margin-bottom: 15px;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

hr {
    border-bottom: 3px solid rgb(0, 0, 0);
}

#form {
    width: 50%;
    height: 200px;
    float: left;
}

#form2 {
    width: 50%;
    height: 500px;
    float: left;
}

#papa {
    width: 80%;
    height: 80%;
    border: 5px solid black;
    margin-bottom: 100px;
}

table {
    width: 90%;
    margin-left: 5%;
    border: 2px black solid;
}

#tdd {
    color: red;
    font-style: italic;
    width: 5%;
    text-align: center;
}

#aa {
    background-color: black;
    color: white;
}

tr, td {
    border: 1px black solid;
}
